html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

.navbar {
    margin-bottom: 0 !important;
}

.main-container {
    position: fixed;
    width: 100%;
    margin-top: -52px;
    padding-top: 52px;
    overflow: auto;
    margin-right: 0;
    margin-left: 0;
}

.left-side {
    background-color: blue;
    border-right: 1px solid;
}



.left-side, .right-side, .main-container {
    height: 100%;
    min-height: 100%;
}
