<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Follow the ISS</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/style/main.css">
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Follow the ISS
                    </a>
                </div>
            </div>
        </nav>

        <div class="row main-container">
            <div class="col-md-9 col-xs-12 left-side" id="map"></div>
            <div class="col-md-3 col-xs-12 right-side" id="timeline"></div>
        </div>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo2c7JUO_CKOregCnUwULdbVgVIdoGnOc"></script>
        <script src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <script src="/public/js/bot.js"></script>
        <script>
            // TESTS DATA
            const troyesLat = 48.2973451;
            const londonLat = 51.5073509;
            const parisLat = 48.856614;
            const troyesLng = 4.0744009000000005;
            const londonLng = -0.12775829999998223;
            const parisLng = 2.3522219000000177;

            /*getCountryCode(troyesLat, troyesLng);
            getCountryCode(londonLat, londonLng);
            getCountryCode(parisLat, parisLng);*/

        </script>
    </body>
</html>
