<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Follow the ISS</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/style/main.css">
    </head>
    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        Follow the ISS
                    </a>
                </div>
            </div>
        </nav>

        <div class="row main-container">
            <div class="col-md-9 col-xs-12 left-side" id="map"></div>
            <div class="col-md-3 col-xs-12 right-side">Last tweets</div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            let map;
            let marker;
            let geocoder;

            /**
             * Create the map
             */
            function initMap() {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: -34.397, lng: 150.644},
                    zoom: 3
                });
                geocoder = new google.maps.Geocoder;
            }

            /**
             * Update the map target
             */
            function moveToLocation(lat, lng){
                const center = new google.maps.LatLng(lat, lng);
                map.panTo(center);
            }

            /**
             * Draw a new marker at the given coordinates
             * @param {string] lat: the latitude
             * @param {string] lng: the longitude
             */
            function drawMarker(lat, lng) {
                const position = {lat: parseFloat(lat), lng: parseFloat(lng)};

                // replace the last marker icon by a simple point
                if(marker) {
                    marker.setIcon({
                        path: google.maps.SymbolPath.CIRCLE,
                        scale: 2
                    });
                }

                const markerIcon = new google.maps.MarkerImage(
                    '/public/images/iss.png',
                    new google.maps.Size(64, 64),
                    new google.maps.Point(0, 0),
                    new google.maps.Point(32, 32)
                );

                // create a new point with the last ISS coordinates
                marker = new google.maps.Marker({
                    position,
                    map,
                    title: 'ISS !',
                    icon: markerIcon
                });
            }

            /**
             * Make a request to get the last coordinates of the ISS
             */
            function updateISSPosition() {
                $.ajax({
                    url: "http://api.open-notify.org/iss-now.json",
                    method: "get"
                }).done(function(data) {
                    const lat = data.iss_position.latitude;
                    const lng = data.iss_position.longitude;

                    // update the map
                    moveToLocation(lat, lng);
                    drawMarker(lat, lng);

                    // get the name of the city of the current location
                    // do nothing in the catch => it's simply because the location can't be found
                    getCityName(parseFloat(lat), parseFloat(lng))
                    .then(name => name && console.log(name))
                    .catch(err => null);
                });
            }

            /**
             * Make a request to get the name of a city from his coordinates
             * Geocoding doc : https://developers.google.com/maps/documentation/javascript/geocoding?hl=FR
             */
            function getCityName(lat, lng) {
                return new Promise((resolve, reject) => {
                    // use geocoding api to get the location name from coordinates
                    geocoder.geocode({'location': {lat, lng}}, (results, status) => {
                        if (status === 'OK') {
                            // if location has been found
                            if (results[0]) {
                                // search the locality name (take a look at the official geocoding documentation to understand the response format)
                                for (let result of results) {
                                    for (let i in result.types) {
                                        if (result.types[i] === "locality") {
                                            resolve(result.formatted_address.split(', ')[i]);
                                        }
                                    }
                                }
                            }
                            resolve(null);
                        } else {
                            reject('Geocoder failed due to: ' + status)
                        }
                    })
                });
            }

            updateISSPosition();
            setInterval(_ => { updateISSPosition()}, 3500);
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo2c7JUO_CKOregCnUwULdbVgVIdoGnOc&callback=initMap"></script>
    </body>
</html>
